# KPI Preformance Rate

In [1]:
import pandas as pd
HRDB_cleaned = pd.read_csv('HRDB_cleaned.csv') 
HRDB_cleaned

,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,...,YearsSinceLastPromotion,YearsWithCurrManager,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField
0,2,3,Male,61,2,2,Research Scientist,2,Married,5130,...,1,7,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences
1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,...,2,2,27,0,Travel_Rarely,591,Research & Development,2,1,Medical
2,8,4,Male,79,3,1,Laboratory Technician,4,Single,3068,...,3,6,32,0,Travel_Frequently,1005,Research & Development,2,2,Life Sciences
3,11,4,Male,67,3,1,Laboratory Technician,3,Divorced,2693,...,0,0,30,0,Travel_Rarely,1358,Research & Development,24,1,Life Sciences
4,12,4,Male,44,2,3,Manufacturing Director,3,Single,9526,...,1,8,38,0,Travel_Frequently,216,Research & Development,23,3,Life Sciences
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1939,1,Female,47,4,1,Research Scientist,3,Single,2432,...,0,3,32,1,Travel_Frequently,238,Research & Development,5,2,Life Sciences
1466,1967,1,Male,63,3,2,Sales Executive,4,Married,5617,...,0,8,31,1,Travel_Frequently,754,Sales,26,4,Marketing
1467,1968,1,Male,66,3,3,Sales Executive,1,Single,10448,...,2,2,53,1,Travel_Rarely,1168,Sales,24,4,Life Sciences
1468,2027,1,Male,36,3,1,Research Scientist,4,Married,4787,...,2,2,29,1,Travel_Rarely,1092,Research & Development,1,4,Medical
1469,2055,4,Male,39,2,3,Sales Executive,1,Divorced,10854,...,2,0,50,1,Travel_Rarely,410,Sales,28,3,Marketing

In [12]:
# Same formula concept, Calculates performance rate.

def PreformanceRate(columns, MinEmployees, RowstoPresent):
    rows = []

    for column in columns:
        Categories = HRDB_cleaned[column].dropna().unique()
        
        for cat in Categories:
            mask = HRDB_cleaned[HRDB_cleaned[column] == cat]
            count = len(mask)
            if count < MinEmployees:
                continue
            rate = mask['PerformanceRating'].sum() / count

            rows.append({
                'Category': column,
                'Sub-Category': cat,
                'NumberofEmployees': count,
                'PreformanceRate': rate
            })
    return pd.DataFrame(rows).sort_values(by='PreformanceRate', ascending=False).head(RowstoPresent).round(2)

In [13]:
AllCols = HRDB_cleaned.select_dtypes(include=['object']).columns.tolist()
PreformanceRate(AllCols, 10, 50)

,Category,Sub-Category,NumberofEmployees,PreformanceRate
6,JobRole,Manager,102,3.20
4,JobRole,Manufacturing Director,145,3.19
16,BusinessTravel,Non-Travel,150,3.17
22,EducationField,Other,82,3.17
2,JobRole,Research Scientist,292,3.17
14,BusinessTravel,Travel_Frequently,277,3.17
17,Department,Research & Development,961,3.16
3,JobRole,Laboratory Technician,259,3.16
21,EducationField,Medical,464,3.16
1,Gender,Female,588,3.16
20,EducationField,Life Sciences,606,3.16
11,MaritalStatus,Married,673,3.16
12,MaritalStatus,Single,470,3.15
5,JobRole,Healthcare Representative,131,3.15
0,Gender,Male,882,3.15
15,BusinessTravel,Travel_Rarely,1043,3.15
13,MaritalStatus,Divorced,327,3.15
9,JobRole,Sales Representative,83,3.14
19,Department,Human Resources,63,3.14
18,Department,Sales,446,3.14
10,JobRole,Human Resources,52,3.13
23,EducationField,Marketing,159,3.13
24,EducationField,Technical Degree,132,3.13
8,JobRole,Sales Executive,326,3.13
25,EducationField,Human Resources,27,3.11
7,JobRole,Research Director,80,3.10